.storiesContainer {
    background-image: url(../../assets/cannabis.jpg);
    width: 100%;
    height: 1103px;
    top: 2636px;
    left: -42px;
    gap: 0px;
    opacity: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .scratchMultiColor {
    width: 2031px;
    height: 159.11px;
    top: 2595px;
    left: -74px;
    gap: 0px;
    opacity: 40%;
} */

.headerStoriesContainer {
    width: 100%;
    height: 457px;
    top: 2657px;
    left: -3px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #000000 9.05%, rgba(0, 0, 0, 0.5) 60.28%, rgba(0, 0, 0, 0) 100%);
    text-transform: uppercase;
    color: rgba(245, 245, 245, 1);
}

.headerStoriesContainer h1 {
    margin: 0 auto;
    width: 1010px;
    height: 89px;
    position: absolute;
    top: 2765px;
    left: 455px;
    gap: 0px;
    opacity: 0px;
    font-size: 60px;
    font-weight: 700;
    line-height: 88.67px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headerStoriesContainer h3 {
    margin: 0 auto;
    width: 357px;
    height: 51px;
    position: absolute;
    top: 2869px;
    left: 780px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48.22px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.storiesCardContainer {
    width: 100%;
    height: 611px;
    position: absolute;
    top: 2981px;
    left: 0px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.storiesCard {
    width: 557px;
    height: 611px;
    border-radius: 29.15px;
    opacity: 0px;
    background: rgba(245, 245, 245, 1);
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.storiesCardImg {
    width: 479.07px;
    height: 345.94px;
    top: 3018.72px;
    left: 137.87px;
    gap: 0px;
    border-radius: 19.44px;
    opacity: 0px;
}

.storiesCardBrandName {
    /* margin: 30px auto; */
    width: 479.07px;
    height: 57px;
    top: 3395.54px;
    left: 137.87px;
    gap: 0px;
    opacity: 0px;
    font-size: 38.87px;
    font-weight: 700;
    line-height: 57.44px;
    text-align: center;
    color: rgba(69, 40, 182, 1);
}

.storiesCardButton {
    width: 268px;
    height: 72px;
    top: 3477px;
    left: 244px;
    gap: 0px;
    border-radius: 19.87px;
    border: none;
    opacity: 0px;
    background: rgba(69, 40, 182, 1);
    text-transform: uppercase;
    color: rgba(249, 249, 249, 1);
    font-weight: 600;
    font-size: 30.04px;
    line-height: 37.84px;
}

.scratchBottom {
    width: 100%;
    height: 120.18px;
    position: absolute;
    top: 3680px;
    gap: 0px;
    opacity: 0px;
    color: rgba(245, 245, 245, 1);
}

@media screen and (max-width: 1274px) {
    .storiesContainer {
        width: 100%;
        height: 880px;
        background-position: center;
    }
    .headerStoriesContainer h1 {
        width: 100%;
        height: 67px;
        top: 2800px;
        left: 0px;
        font-size: 60px;
    }
    .headerStoriesContainer h3 {
        width: 100%;
        height: 41px;
        position: absolute;
        top: 2880px;
        left: 0px;
        font-size: 26px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 350px;
        gap: 30px;
    }
    .storiesCard {
        width: 357px;
        height: 450px;
        border-radius: 29.15px;
        padding: 30px 30px 30px 30px;
        gap: 25px;
    }
    .storiesCardImg {
        width: 100%;
        height: 45%;
        margin-top: 0px;
    }
    .storiesCardBrandName {
        margin: 15px auto;
        width: 100%;
        height: 57px;
        font-size: 33px;
    }
    .storiesCardButton {
        width: 100%;
        height: 72px;
        font-size: 30px;
    }
    .scratchBottom {
        top: 3508px;
    }
}

@media screen and (max-width: 1024px) {
    .storiesContainer {
        background-size: cover;
        height: 40%;
    }
    .headerStoriesContainer {
        width: 100%;
        height: 50%;
        /* background-color: red; */
    }
    .headerStoriesContainer h1 {
        width: 100%;
        height: 67px;
        position: absolute;
        top: 2170px;
        left: 0px;
        font-size: 32px;
    }
    .headerStoriesContainer h3 {
        width: 100%;
        height: 41px;
        position: absolute;
        top: 2235px;
        left: 0px;
        font-size: 26px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 350px;
        margin-top: -670px;
        gap: 30px;
    }
    .storiesCard {
        width: 28%;
        height: 350px;
        gap: 0px;
        padding: 20px 20px 20px 20px;
    }
    .storiesCardImg {
        width: 100%;
        height: 45%;
        margin-top: 0px;
    }
    .storiesCardBrandName {
        margin: 15px auto;
        width: 100%;
        height: 57px;
        font-size: 28px;
    }
    .storiesCardButton {
        width: 100%;
        height: 72px;
        font-size: 25px;
    }
    .scratchBottom {
        width: 100%;
        height: 10%;
        position: absolute;
        top: 2705px;
        gap: 0px;
    }
}

@media screen and (max-width: 823px) {
    .headerStoriesContainer h1 {
        position: absolute;
        top: 2030px;
        left: 0px;
        font-size: 32px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 2095px;
        left: 0px;
        font-size: 26px;
    }
    .storiesCardContainer {
        height: 350px;
        margin-top: -810px;
        gap: 30px;
    }
    .storiesCard {
        width: 28%;
        height: 320px;
        gap: 0px;
        padding: 20px 20px 20px 20px;
    }
    .storiesCardBrandName {
        margin: 15px auto;
        width: 100%;
        height: 57px;
        font-size: 22px;
    }
    .storiesCardButton {
        width: 100%;
        height: 65px;
        font-size: 22px;
        border-radius: 15px;
    }
    .scratchBottom {
        position: absolute;
        top: 2560px;
        gap: 0px;
    }
}

@media screen and (max-width: 768px) {
    .storiesContainer {
        background-size: contain;
        height: 40%;
    }
    .headerStoriesContainer h1 {
        position: absolute;
        top: 1800px;
        left: 0px;
        font-size: 32px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 1860px;
        left: 0px;
        font-size: 26px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 260px;
        margin-top: -1040px;
        gap: 40px;
    }
    .storiesCard {
        width: 28%;
        height: 260px;
        padding: 20px 20px 20px 20px;
        gap: 10px;
    }
    .storiesCardImg {
        width: 100%;
        height: 42.5%;
        margin-top: 0px;
    }
    .storiesCardBrandName {
        margin: 0px auto;
        width: 100%;
        height: 57px;
        font-size: 21px;
    }
    .storiesCardButton {
        width: 100%;
        height: 52px;
        font-size: 22px;
        border-radius: 15px;
    }
    .scratchBottom {
        width: 100%;
        height: 8%;
        position: absolute;
        top: 2242px;
        gap: 0px;
    }
}

@media screen and (max-width: 736px) {
    .headerStoriesContainer h1 {
        position: absolute;
        top: 1800px;
        left: 0px;
        font-size: 32px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 1860px;
        left: 0px;
        font-size: 26px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 285px;
        margin-top: -1070px;
        gap: 30px;
    }
    .storiesCardBrandName {
        height: 57px;
        font-size: 20px;
    }
    .scratchBottom {
        width: 100%;
        height: 20%;
        position: absolute;
        top: 2205px;
        gap: 0px;
    }
}

@media screen and (max-width: 734px) {
    .scratchBottom {
        width: 100%;
        height: 20%;
        position: absolute;
        top: 2200px;
        gap: 0px;
    }
}

@media screen and (max-width: 684px) {
    .headerStoriesContainer h1 {
        position: absolute;
        top: 1780px;
        left: 0px;
        font-size: 30px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 1840px;
        left: 0px;
        font-size: 26px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 285px;
        margin-top: -1110px;
        gap: 30px;
    }
    .storiesCard {
        width: 27%;
        height: 220px;
        gap: 0px;
    }
    .storiesCardImg {
        width: 100%;
        height: 50%;
        margin-top: 0px;
    }
    .storiesCardBrandName {
        margin: 0px auto;
        width: 100%;
        height: 57px;
        font-size: 17px;
    }
    .storiesCardButton {
        width: 100%;
        height: 52px;
        font-size: 18px;
    }
    .scratchBottom {
        width: 100%;
        height: 20%;
        position: absolute;
        top: 2140px;
        gap: 0px;
    }
}

@media screen and (max-width: 667px) {
    .headerStoriesContainer h1 {
        position: absolute;
        top: 1720px;
        left: 0px;
        font-size: 28px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 1780px;
        left: 0px;
        font-size: 24px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 285px;
        margin-top: -1170px;
        gap: 30px;
    }
    .storiesCardBrandName {
        width: 100%;
        height: 57px;
        font-size: 16px;
    }
    .scratchBottom {
        width: 100%;
        height: 20%;
        position: absolute;
        top: 2090px;
        gap: 0px;
    }
}

@media screen and (max-width: 425px) {
    .storiesContainer {
        background-image: url(../../assets/cannabis.jpg);
        width: 100%;
        height: 950px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .headerStoriesContainer {
        width: 100%;
        height: 60%;
        /* background-color: red; */
    }
    .headerStoriesContainer h1 {
        position: absolute;
        top: 1530px;
        left: 0px;
        font-size: 28px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 1585px;
        left: 0px;
        font-size: 24px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 285px;
        margin-top: -1330px;
        gap: 20px;
    }
    .storiesCard {
        width: 50%;
        height: 240px;
    }
    .storiesCardButton {
        border-radius: 12px;
    }
    .scratchBottom {
        width: 100%;
        height: 5%;
        position: absolute;
        top: 2445px;
        gap: 0px;
    }
}

@media screen and (max-width: 415px) {
    .scratchBottom {
        width: 100%;
        height: 5%;
        position: absolute;
        top: 2438px;
        gap: 0px;
    }
}

@media screen and (max-width: 375px) {
    .headerStoriesContainer h1 {
        position: absolute;
        top: 1480px;
        left: 0px;
        font-size: 28px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 1535px;
        left: 0px;
        font-size: 24px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 285px;
        margin-top: -1380px;
        gap: 20px;
    }
    .scratchBottom {
        position: absolute;
        top: 2395px;
        gap: 0px;
    }
}

@media screen and (max-width: 320px) {
    .headerStoriesContainer h1 {
        position: absolute;
        top: 1460px;
        left: 0px;
        font-size: 24px;
    }
    .headerStoriesContainer h3 {
        position: absolute;
        top: 1515px;
        left: 0px;
        font-size: 20px;
    }
    .storiesCardContainer {
        width: 100%;
        height: 285px;
        margin-top: -1400px;
        gap: 20px;
    }
    .storiesCard {
        width: 70%;
        height: 240px;
    }
    .scratchBottom {
        position: absolute;
        top: 2370px;
        gap: 0px;
    }
}