.cannabisContent {
    text-align: center;
    margin-top: 100px;
}

.cannabisContent h2 {
    text-transform: uppercase;
    color: #4528B6;
    font-weight: 700;
    font-size: 80px;
}

.cannabisContent h1 {
    text-transform: uppercase;
    color: #131212;
    font-weight: 700;
    font-size: 136.48px;
}

.cannabisContent p {
    font-weight: 400;
    font-size: 32px;
    color: #131212;
    width: 1348px;
    justify-content: center;
    margin: 50px auto;
}

.cannabisBtn {
    align-items: center;
    width: 1126.94px;
    height: 112px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cannabisBtn .cannabisBtnInRev {
    width: 562px;
    height: 112px;
    font-weight: 600;
    font-size: 40px;
    color: #F9F9F9;
    border: none;
    text-align: center;
    background-color: #4528B6;
    border-radius: 26.46px;
    text-transform: uppercase;
}

.cannabisBtn .cannabisBtnHoWo {
    width: 534.43px;
    height: 112px;
    border: solid 4.41px;
    border-radius: 26.46px;
    border-color: #131212;
    font-weight: 600;
    font-size: 40px;
    color: #131212;
    text-align: center;
    text-transform: uppercase;
    background-color: inherit;
}

.waterBGContainer {
    background-image: url('../../assets/waterBG.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 802px;
    text-align: center;
    position: relative;
    margin: 110px auto;
}

.plant {
    width: 1189px;
    height: 805px;
    position: relative;
    z-index: 1;
}

.gradientBox {
    background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
    margin-top: -245px;
    width: 100%;
    height: 248px;
    position: absolute;
    top: 1;
    left: 0;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cannabisContent {
        margin-top: 30px;
    }
    .cannabisContent h2 {
        font-size: 60px;
    }
    .cannabisContent h1 {
        font-size: 96.48px;
    }
    .cannabisContent p {
        width: 800px;
        font-size: 22px;
        justify-content: center;
    }
    .cannabisBtn {
        width: 926.94px;
    }
    .cannabisBtn .cannabisBtnInRev {
        width: 462px;
        font-size: 35px;
    }
    .cannabisBtn .cannabisBtnHoWo {
        width: 434.43px;
        font-size: 35px;
    }
    .waterBGContainer {
        width: 100%;
        height: 100%;
        margin: 110px auto;
    }
    .plant {
        width: 989px;
        height: 705px;
    }
}

@media screen and (max-width: 768px) {
    .cannabisContent h2 {
        font-size: 40px;
    }
    .cannabisContent h1 {
        font-size: 66.48px;
    }
    .cannabisContent p {
        width: 600px;
        font-size: 20px;
    }
    .cannabisBtn {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .cannabisBtn .cannabisBtnInRev {
        width: 362px;
        font-size: 25px;
        height: 90px;
    }
    .cannabisBtn .cannabisBtnHoWo {
        width: 362px;
        font-size: 25px;
        height: 90px;
    }
    .waterBGContainer {
        width: 100%;
        height: 100%;
        margin: 150px auto;
    }
    .plant {
        width: 700px;
        height: 500px;
    }    
}

@media screen and (max-width: 736px) {
    .cannabisBtn {
        gap: 10px;
    }
    .cannabisBtn .cannabisBtnHoWo {
        border: solid 1.5px;
    }
}

@media screen and (max-width: 684px) {
    .cannabisContent h2 {
        font-size: 38px;
    }
    .cannabisContent h1 {
        font-size: 60px;
    }
    .cannabisContent p {
        width: 500px;
        font-size: 18px;
    }
    .plant {
        width: 665px;
        height: 465px;
    } 
    .gradientBox {
        height: 148px;
        top: 565px;
    }
}

@media screen and (max-width: 667px) {
    .cannabisContent h2 {
        font-size: 38px;
    }
    .cannabisContent h1 {
        font-size: 60px;
    }
    .cannabisContent p {
        width: 500px;
        font-size: 18px;
    }
    .plant {
        width: 650px;
        height: 450px;
    } 
    .gradientBox {
        height: 148px;
        top: 550px;
    } 
}

@media screen and (max-width: 425px) {
    .cannabisContent h2 {
        font-size: 25px;
    }
    .cannabisContent h1 {
        font-size: 38px;
    }
    .cannabisContent p {
        width: 350px;
        font-size: 15px;
        margin: 25px auto;
    }
    .cannabisBtn {
        width: 390px;
        margin: 0 auto;
        gap: 10px;
    }
    .cannabisBtn .cannabisBtnInRev {
        width: 362px;
        font-size: 18px;
        height: 60px;
    }
    .cannabisBtn .cannabisBtnHoWo {
        width: 362px;
        font-size: 18px;
        height: 60px;
    }
    .waterBGContainer {
        width: 100%;
        height: 100%;
        margin: 80px auto;
    }
    .plant {
        width: 425px;
        height: 300px;
    }
    .gradientBox {
        height: 148px;
        top: 400px;
    }   
}

@media screen and (max-width: 415px) {
    .plant {
        width: 395px;
        height: 295px;
    } 
}

@media screen and (max-width: 375px) {
    .cannabisContent h2 {
        font-size: 22px;
    }
    .cannabisContent h1 {
        font-size: 33px;
    }
    .cannabisContent p {
        width: 310px;
        font-size: 15px;
        margin: 25px auto;
    }
    .cannabisBtn {
        width: 310px;
        margin: 0 auto;
    }
    .plant {
        width: 360px;
        height: 260px;
    }
    .gradientBox {
        height: 110px;
        top: 395px;
    } 
}

@media screen and (max-width: 320px) {
    .cannabisContent h2 {
        font-size: 20px;
    }
    .cannabisContent h1 {
        font-size: 30px;
    }
    .cannabisContent p {
        width: 280px;
        font-size: 13px;
        margin: 25px auto;
    }
    .cannabisBtn {
        width: 280px;
        margin: 0 auto;
        gap: 10px;
    }
    .cannabisBtn .cannabisBtnInRev {
        width: 362px;
        font-size: 15px;
        height: 60px;
    }
    .cannabisBtn .cannabisBtnHoWo {
        width: 362px;
        font-size: 15px;
        height: 60px;
        border: solid 1.5px;
    }
    .plant {
        width: 320px;
        height: 220px;
    }
    .gradientBox {
        height: 90px;
        top: 376px;
    } 
}