.cannabisContent {
    text-align: center;
    margin-top: 100px;
}

.cannabisContent h2 {
    text-transform: uppercase;
    color: #4528B6;
    font-weight: 700;
    font-size: 80px;
}

.cannabisContent h1 {
    text-transform: uppercase;
    color: #131212;
    font-weight: 700;
    font-size: 136.48px;
}

.cannabisContent p {
    font-weight: 400;
    font-size: 32px;
    color: #131212;
    width: 1348px;
    justify-content: center;
    margin: 50px auto;
}

.cannabisBtn {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cannabisBtn .cannabisBtnInRev {
    width: 562px;
    height: 112px;
    font-weight: 600;
    font-size: 40px;
    color: #F9F9F9;
    border: none;
    text-align: center;
    background-color: #4528B6;
    border-radius: 26.46px;
    text-transform: uppercase;
}

.cannabisBtn .cannabisBtnHoWo {
    width: 534.43px;
    height: 112px;
    border: solid 4.41px;
    border-radius: 26.46px;
    border-color: #131212;
    font-weight: 600;
    font-size: 40px;
    color: #131212;
    text-align: center;
    text-transform: uppercase;
    background-color: inherit;
}

.waterBGContainer {
    background-image: url('../../assets/waterBG.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 802px;
    text-align: center;
    position: relative;
    margin: 110px auto;
}

.plant {
    width: 1189px;
    height: 805px;
    position: relative;
    z-index: 1;
}

.gradientBox {
    background: linear-gradient(0deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
    margin-top: -245px;
    width: 100%;
    height: 248px;
    position: absolute;
    top: 1;
    left: 0;
    z-index: 2;
}

/*! iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .cannabisContent h2 {
        font-size: 60px;
    }
    .cannabisContent h1 {
        font-size: 100px;
    }
    .cannabisContent p {
        width: 100%;
        font-size: 30px;
        padding: 0px 30px 0px 30px;
    }
    .plant {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    .cannabisContent p {
        font-size: 28px;
        padding: 0px 100px 0px 100px;
    }
    .cannabisBtn .cannabisBtnInRev {
        width: 532px;
    }
    .cannabisBtn .cannabisBtnHoWo {
        width: 504px;
    }
}