.techPartnersContainer {
    width: 100%;
    height: 494px;
    top: 3714px;
    gap: 0px;
    opacity: 0px;
    background: rgba(245, 245, 245, 1);
}

.techPartnersHeader {
    text-transform: uppercase;
    width: 858px;
    height: 89px;
    position: absolute;
    top: 3877px;
    left: 531px;
    gap: 0px;
    opacity: 0px;
    font-size: 60px;
    font-weight: 700;
    line-height: 88.67px;
    text-align: center;
    color: rgba(69, 40, 182, 1);
}

.techPartnersLogo {
    width: 1720px;
    height: 161.38px;
    top: 4016.31px;
    position: absolute;
    left: 99px;
    border-radius: 29.15px;
    opacity: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 37.1px;
}

.techPartnersImg {
    width: 314.27px;
    height: 161.38px;
    border-radius: 29.15px;
    opacity: 0px;
}

/*! for iPad Air 4 landscape*/
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    .techPartnersContainer {
        height: 400px;
    }
    .techPartnersHeader {
        width: 100%;
        top: 3670px;
        left: 0px;
    }
    .techPartnersLogo {
        width: 100%;
        height: 100px;
        top: 3810px;
        left: 0px;
        gap: 20px;
        padding: 0px 10px 0px 10px;
        justify-content: center;
    }
    .techPartnersImg {
        width: 210px;
        height: 100px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .techPartnersContainer {
        height: 350px;
    }
    .techPartnersHeader {
        width: 100%;
        top: 2810px;
        left: 0px;
    }
    .techPartnersLogo {
        width: 100%;
        height: 100px;
        top: 2930px;
        left: 0px;
        gap: 20px;
        padding: 0px 0px 0px 0px;
        justify-content: center;
    }
    .techPartnersImg {
        width: 170px;
        height: 100px;
        border-radius: 15px;
    }
}

/*! for iPad Air 4 portrait */
@media only screen and (min-width: 805px) and (max-width: 820px) {
    .techPartnersContainer {
        height: 290px;
    }
    .techPartnersHeader {
        top: 2650px;
    }
    .techPartnersLogo {
        top: 2780px;
    }
    .techPartnersImg {
        width: 130px;
        height: 65px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 768px) {
    .techPartnersContainer {
        height: 250px;
    }
    .techPartnersContainer {
        margin-top: -38px;
    }
    .techPartnersHeader {
        top: 2320px;
        font-size: 35px;
    }
    .techPartnersLogo {
        top: 2420px;
        height: 60px;
    }
    .techPartnersImg {
        width: 120px;
        height: 60px;
        border-radius: 15px;
    }
}