.techPartnersContainer {
    width: 100%;
    height: 494px;
    top: 3714px;
    gap: 0px;
    opacity: 0px;
    background: rgba(245, 245, 245, 1);
}

.techPartnersHeader {
    text-transform: uppercase;
    width: 858px;
    height: 89px;
    position: absolute;
    top: 3877px;
    left: 531px;
    gap: 0px;
    opacity: 0px;
    font-size: 60px;
    font-weight: 700;
    line-height: 88.67px;
    text-align: center;
    color: rgba(69, 40, 182, 1);
}

.techPartnersLogo {
    width: 1720px;
    height: 161.38px;
    top: 4016.31px;
    position: absolute;
    left: 99px;
    border-radius: 29.15px;
    opacity: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 37.1px;
}

.techPartnersImg {
    width: 314.27px;
    height: 161.38px;
    border-radius: 29.15px;
    opacity: 0px;
}

@media screen and (max-width: 1024px) {
    .techPartnersContainer {
        height: 280px;
    }
    .techPartnersHeader {
        width: 100%;
        top: 2900px;
        left: 0px;
    }
    .techPartnersLogo {
        width: 100%;
        height: 90px;
        top: 3030px;
        left: 0px;
        gap: 20px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }
    .techPartnersImg {
        width: 170px;
        height: 85px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 768px) {
    .techPartnersContainer {
        height: 220px;
    }
    .techPartnersHeader {
        top: 2180px;
        font-size: 45px;
    }
    .techPartnersLogo {
        top: 2280px;
        gap: 10px;
        height: 70px;
    }
    .techPartnersImg {
        width: 135px;
        height: 67.5px;
    }
}

@media screen and (max-width: 425px) {
    .techPartnersHeader {
        top: 2975px;
        font-size: 35px;
    }
    .techPartnersLogo {
        top: 3050px;
        gap: 10px;
        height: 70px;
    }
    .techPartnersImg {
        width: 120px;
        height: 60px;
    }
    .techPartnersContainer {
        height: 250px;
    }
}