.servicesMainContainer {
    width: 100%;
    height: 450px;
    top: 2221px;
    opacity: 0px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    background: rgba(245, 245, 245, 1);
    padding-bottom: 100px;
}

.servicesCard {
    background: linear-gradient(180deg, #F3F2F8 0%, #E4E1EE 100%);
    box-shadow: 0px 4px 12.2px 0px rgba(104, 84, 136, 1);
}

.servicesContent {
    align-items: center;
    text-align: center;
}

.servicesImage {
    width: 83px;
    margin-top: 20px;
}

.servicesText {
    width: 256px;
    height: 147px;
    top: 2367px;
    left: 163px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(69, 40, 182, 1);
    margin: 20px auto;
}

.scratchWhite {
    width: 100%;
    height: 120.18px;
    position: absolute;
    top: 2600px;
    gap: 0px;
    opacity: 0px;
    color: rgba(245, 245, 245, 1);
}

@media screen and (max-width: 1274px) {
    .servicesMainContainer {
        gap: 35px;
    }
    .servicesCard {
        width: 250px !important;
        height: 250px !important;
    }
    .servicesText {
        width: 100%;
        height: 77px;
        font-size: 20px;
    }
    .scratchWhite {
        position: absolute;
        top: 2650px;
    }
}

/*! for iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .scratchWhite {
        height: 100px !important;
        top: 2080px !important;
    }
}

/*! for iPad Air 4 landscape  */
@media only screen and (min-width: 1180px) and (max-width: 1274px) {
    .scratchWhite {
        position: absolute;
        top: 2657px !important;
    }
}

@media screen and (max-width: 1024px) {
    .servicesMainContainer {
        width: 100%;
        height: 250px;
        margin: 0 auto;
        gap: 30px;
    }
    .servicesCard {
        width: 208px !important;
        height: 187px !important;
    }
    .servicesImage {
        width: 53px;
        margin-top: 10px;
    }
    .servicesText {
        width: 156px;
        height: 77px;
        font-size: 18px;
    }
    .scratchWhite {
        width: 100%;
        height: 10%;
        position: absolute;
        top: 2085px;
    }
}