.servicesMainContainer {
    width: 100%;
    height: 450px;
    top: 2221px;
    opacity: 0px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    background: rgba(245, 245, 245, 1);
    padding-bottom: 100px;
}

.servicesCard {
    background: linear-gradient(180deg, #F3F2F8 0%, #E4E1EE 100%);
    box-shadow: 0px 4px 12.2px 0px rgba(104, 84, 136, 1);
}

.servicesContent {
    align-items: center;
    text-align: center;
}

.servicesImage {
    width: 83px;
    margin-top: 20px;
}

.servicesText {
    width: 256px;
    height: 147px;
    top: 2367px;
    left: 163px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(69, 40, 182, 1);
    margin: 20px auto;
}

.scratchWhite {
    width: 100%;
    height: 120.18px;
    position: absolute;
    top: 2600px;
    gap: 0px;
    opacity: 0px;
    color: rgba(245, 245, 245, 1);
}

/*! iPad Pro portrait  */
@media only screen and (min-width:1024px) and (max-width:1366px) {
    .servicesMainContainer {
        height: 300px;
        gap: 40px;
        padding-bottom: 100px;
    }
    .servicesCard {
        width: 200px !important;
        height: 200px !important;
        margin-top: 0px;
    }
    .servicesImage {
        width: 50px;
        margin-top: 20px;
    }
    .servicesText {
        width: 100%;
        height: 70px;
        font-size: 18px;
    }
    .scratchWhite {
        width: 100%;
        height: 100px;
        top: 2378px;
    }
}

/*! iPad Air 4 landscape*/
@media only screen and (min-width: 1180px) and (max-width: 820px) {
    .servicesCard {
        width: 230px !important;
    }
    .servicesText {
        align-content: center;
    }
    .scratchWhite {
        top: 2361px;
    }
}

/*! laptop view */
@media screen and (max-width: 1024px) {
    .servicesMainContainer {
        height: 250px;
    }
    .servicesCard {
        height: 180px !important;
        margin-top: 30px;
    }
    .servicesImage {
        width: 50px;
        margin-top: 10px;
    }
    .servicesText {
        font-size: 16px;
        align-content: center;
        margin-top: 10px;
    }
    .scratchWhite {
        top: 2287px;
    }
}

/*! iPad Air portrait */
@media only screen and (min-width: 820px) and (max-width: 1180px) {
    .servicesMainContainer {
        height: 220px;
        gap: 20px;
    }
    .servicesCard {
        width: 160px !important;
        height: 150px !important;
    }
    .servicesImage {
        width: 40px;
        margin-top: 5px;
    }
    .servicesText {
        width: 100%;
        height: 60px;
        font-size: 15px;
        margin-top: 10px;
    }
    .scratchWhite {
        top: 1860px;
        height: 75px;
    }
}