.leadingBrandMainContainer {
    margin-top: -105px;
    height: 20%;
    background: rgba(245, 245, 245, 1);
    padding: 100px 85px 0px 85px;
}

.brandContent {
    background: linear-gradient(180deg, #F3F2F8 0%, #E4E1EE 100%);
    box-shadow: 0px 4px 12.2px 0px rgba(104, 84, 136, 1);
    border-radius: 20px;
    width: 100%;
    height: 186px;
    text-align: center;
    align-content: center;
}

.brandText {
    font-weight: 700;
    font-size: 31.28px;
    line-height: 47.14px;
    color: rgba(69, 40, 182, 1);
    text-transform: uppercase;
    width: 364px;
    height: 97px;
    text-align: left;
    padding-left: 100px;
}

.teeter{
    width: 180.19px;
    height: 79.11px;
}

.cannaWholesalers {
    width: 103.28px;
    height: 115.37px;
}

.destinoFarms {
    width: 181.29px;
    height: 79.11px;
}

/*! iPad Pro portrait */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .leadingBrandMainContainer {
        padding: 70px 40px 0px 40px;
        height: 16%;
    }
    .brandContent {
        text-align: center;
        align-content: center;
        height: 150px;
    }
    .brandText {
        font-size: 18px;
        line-height: 30px;
        padding-left: 20px;
        padding-top: 20px;
    }
}

/*! iPad Air 4 landscape*/
@media only screen and (min-width: 1180px) and (max-width: 1200px) {
    .leadingBrandMainContainer {
        padding: 70px 70px 0px 70px;
    }
    .brandText {
        padding-left: 40px;
    }
    .teeter{
        width: 160px;
        height: 59px;
    }
    
    .cannaWholesalers {
        width: 83px;
        height: 95px;
    }
    
    .destinoFarms {
        width: 161px;
        height: 59px;
    }
}

/*! laptop view */
@media screen and (max-width: 1024px) {
    .leadingBrandMainContainer {
        align-content: center;
        padding: 0px 50px 0px 50px;
    }
    .teeter{
        width: 140px;
        height: 49px;
    }
    
    .cannaWholesalers {
        width: 75px;
        height: 75px;
    }
    
    .destinoFarms {
        width: 140px;
        height: 70px;
    }
}

/*! iPad Air portrait */
@media only screen and (min-width: 820px) and (max-width: 1023px) {
    .leadingBrandMainContainer {
        margin-top: -50px;
        height: 14%;
    }
    .brandContent {
        height: 120px;
    }
    .brandText {
        padding-left: 25px;
        font-size: 13px;
        line-height: 20px;
        padding-top: 30px;
    }
    .teeter{
        width: 120px;
        height: 49px;
    }
    
    .cannaWholesalers {
        width: 70px;
        height: 70px;
    }
    
    .destinoFarms {
        width: 120px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .leadingBrandMainContainer {
        padding: 0px 40px 0px 40px;
        margin: 0px;
        height: 260px;
        align-content: center;
    }
    .brandContent {
        height: 120px;
    }
    .brandText {
        padding-left: 20px;
        font-size: 13px;
        line-height: 20px;
        padding-top: 30px;
    }
    .teeter{
        width: 120px;
        height: 49px;
    }
    
    .cannaWholesalers {
        width: 70px;
        height: 70px;
    }
    
    .destinoFarms {
        width: 120px;
        height: 60px;
    }
}

@media screen and (max-width: 425px) {
    .leadingBrandMainContainer {
        padding: 0px 30px 0px 30px;
        height: 150px;
    }
    .brandContent {
        height: 80px;
        border-radius: 10px;
    }
    .brands {
        height: 80px;
    }
    .brandText {
        height: 80px;
        padding-left: 20px;
        font-size: 6.5px;
        line-height: 10px;
        padding-top: 0px;
        align-content: center;
    }
    .teeter{
        width: 60px;
        height: 30px;
    }
    
    .cannaWholesalers {
        width: 40px;
        height: 40px;
    }
    
    .destinoFarms {
        width: 60px;
        height: 30px;
    }
}

@media screen and (max-width: 375px) {
    .leadingBrandMainContainer {
        padding: 0px 20px 0px 20px;
        height: 150px;
    }
    .brandContent {
        height: 60px;
    }
    .brands {
        height: 60px;
    }
    .brandText {
        height: 60px;
        padding-left: 15px;
        font-size: 6px;
        line-height: 10px;
        padding-top: 0px;
        align-content: center;
    }
    .teeter{
        width: 50px;
        height: 25px;
    }
    
    .cannaWholesalers {
        width: 40px;
        height: 40px;
    }
    
    .destinoFarms {
        width: 50px;
        height: 25px;
    }
}

@media screen and (max-width: 320px) {
    .leadingBrandMainContainer {
        height: 120px;
    }
}