.leadingBrandMainContainer {
    margin-top: -105px;
    height: 20%;
    background: rgba(245, 245, 245, 1);
    padding: 100px 85px 0px 85px;
}

.brandContent {
    background: linear-gradient(180deg, #F3F2F8 0%, #E4E1EE 100%);
    box-shadow: 0px 4px 12.2px 0px rgba(104, 84, 136, 1);
    border-radius: 20px;
    width: 100%;
    height: 186px;
    text-align: center;
    padding: 40px 0px 50px 0px;
}

.brandText {
    font-weight: 700;
    font-size: 31.28px;
    line-height: 47.14px;
    text-align: left;
    color: rgba(69, 40, 182, 1);
    text-transform: uppercase;
    width: 364px;
    height: 97px;
    padding-left: 100px;
}

.teeter{
    width: 180.19px;
    height: 79.11px;
}

.cannaWholesalers {
    width: 103.28px;
    height: 115.37px;
}

.destinoFarms {
    width: 181.29px;
    height: 79.11px;
}

@media screen and (max-width: 1274px) {
    .brandText {
        padding-left: 40px;
        font-size: 21px;
    }
}

@media screen and (max-width: 1024px) {
    .leadingBrandMainContainer {
        margin-top: -110px;
        height: 20%;
        padding: 90px 10px 10px 10px;
    }
    .brandContent {
        width: 922px;
        height: 116px;
        padding: 10px 0px 20px 0px;
        align-items: center;
    }
    .brandText {
        font-size: 18px;
        line-height: 27.14px;
        text-align: left;
        padding-left: 50px;
        padding-top: 20px;
    }
    .teeter{
        width: 120.19px;
        height: 50px;
    }
    
    .cannaWholesalers {
        width: 83px;
        height: 85px;
    }
    
    .destinoFarms {
        width: 120px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .leadingBrandMainContainer {
        margin-top: -150px;
        height: 15%;
        padding: 100px 10px 10px 10px;
    }
    .brandContent {
        margin: -50px auto;
        width: 722px;
        height: 106px;
        padding: 5px 0px 20px 0px;
        align-items: center;
    }
    .brandText {
        font-size: 14px;
        line-height: 27.14px;
        text-align: left;
        padding-left: 40px;
        padding-top: 20px;
    }
    .teeter{
        width: 90px;
        height: 50px;
    }
    
    .cannaWholesalers {
        width: 73px;
        height: 73px;
    }
    
    .destinoFarms {
        width: 100px;
        height: 50px;
    }
}

@media screen and (max-width: 825px) {
    .leadingBrandMainContainer {
        padding: 0px 40px 0px 40px;
        align-content: center;
    }
    .brandContent {
        width: 100%;
    }
    .brandText {
        font-size: 14px;
        line-height: 27.14px;
        text-align: left;
        padding-left: 30px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 736px) {
    .brandContent {
        width: 660px;
        height: 106px;
    }
    .brandText {
        font-size: 13px;
        line-height: 22.14px;
        text-align: left;
        padding-left: 35px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 684px) {
    .brandContent {
        width: 610px;
        height: 106px;
    }
    .brandText {
        font-size: 12.3px;
        line-height: 22.14px;
        text-align: left;
        padding-left: 35px;
        padding-top: 25px;
    }
    .teeter{
        width: 85px;
        height: 45px;
    }
    
    .cannaWholesalers {
        width: 70px;
        height: 70px;
    }
    
    .destinoFarms {
        width: 85px;
        height: 45px;
    }
}

@media screen and (max-width: 667px) {
    .brandContent {
        width: 590px;
        height: 100px;
    }
    .brandText {
        font-size: 11.8px;
        line-height: 22.14px;
        text-align: left;
        padding-left: 30px;
        padding-top: 25px;
    }
    .teeter{
        width: 80px;
        height: 40px;
    }
    
    .cannaWholesalers {
        width: 63px;
        height: 63px;
    }
    
    .destinoFarms {
        width: 90px;
        height: 40px;
    }
}

@media screen and (max-width: 425px) {
    .leadingBrandMainContainer {
        margin-top: -80px;
    }
    .brandContent {
        margin: -65px auto;
        width: 370px;
        height: 80px;
        border-radius: 15px;
    }
    .brandCol {
        margin: -15px auto;
    }
    .brandText {
        font-size: 7.5px;
        line-height: 12.14px;
        text-align: left;
        padding: 30px 10px 0px 25px;
    }
    .teeter{
        width: 50px;
        height: 20px;
    }
    
    .cannaWholesalers {
        width: 33px;
        height: 33px;
    }
    
    .destinoFarms {
        width: 50px;
        height: 20px;
    }
}

@media screen and (max-width: 415px) {
    .leadingBrandMainContainer {
        margin-top: -80px;
    }
    .brandContent {
        margin: -65px auto;
    }
}

@media screen and (max-width: 375px) {
    .leadingBrandMainContainer {
        margin-top: -80px;
        height: 13%;
    }
    .brandContent {
        margin: -78px auto;
        width: 330px;
        height: 80px;
    }
    .brandText {
        font-size: 6.5px;
        line-height: 9px;
        padding-top: 35px;
    }
    .teeter{
        width: 40px;
        height: 20px;
    }
    
    .cannaWholesalers {
        width: 33px;
        height: 33px;
    }
    
    .destinoFarms {
        width: 40px;
        height: 20px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 320px) {
    .brandContent {
        width: 300px;
        height: 80px;
        border-radius: 12px;
    }
}