.header-content {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    padding: 30px 50px 50px 0px;
    overflow: hidden;
}

.row {
    align-items: center;
}
  
.btnInRev {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22.09px;
    border-radius: 53px;
    background-color: #4528B6;
    color: #fff;
    padding: 10px 25px 10px 25px;
    border: none;
}

.burgerMenu {
    text-transform: uppercase;
    background-color: inherit;
    padding: 30px 20px 50px 20px;
}

@media screen and (max-width: 1275px) {
    .header-content {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .burgerMenuBody {
        max-width:max-content;
    }
}